/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

// handspne table 
.handsontable col.rowHeader {
    width: 150px;
}

.handsontable .htDimmed {
    color: grey;
    background-color: rgba(247, 79, 240, 0.08);
}

.handsontable .outOfRange {
    background-color: #ffc200;
}

.handsontable .total{
    color: black;
    font-weight: bolder;
    background-color: #ddd;
}

.handsontable .positive-value{
    color: black;
    font-weight: bolder;
    background-color: #00ff33;
}

.handsontable .negative-value{
    color: black;
    font-weight: bolder;
    background-color: #ff9999;
}

.handsontable .deficit{
    color: #cc00cc;
}