<div class="row">
    <nvd3 options="ctrl.chart.projects.options" 
          data="ctrl.chart.projects.data" 
          config="{deepWatchData: false}" 
          api="ctrl.chart.projects.api">
    </nvd3>
</div>
<script id="item-template" type="text/x-handlebars-template">
    <h1>{{name}}</h1>
    <p>{{start}}</p>
</script>
<div class="row">
    <div class="panel panel-default" style="height:100%;">
        <div class="panel-heading" style="padding:3px;">
            <div class="panel-body" style="height:{{ctrl.timeline.height}}px;padding:3px;">
                <vis-timeline data="ctrl.timeline.data" options="ctrl.timeline.options" events="ctrl.timeline.events" class="ng-binding" ></vis-timeline>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <nvd3 class="col-md-6" options="ctrl.chart.options" data="ctrl.chart.data" config="{deepWatchData: false}" api="ctrl.chart.api"></nvd3>

    <nvd3 class="col-md-6 col-md-offset-0" options="ctrl.charts.remainingResourcesByServices.options" 
          data="ctrl.charts.remainingResourcesByServices.data" 
          config="{deepWatchData: false}" 
          api="ctrl.charts.remainingResourcesByServices.api">

    </nvd3>
</div>