<button ng-click="ctrl.update()">Refresh</button>
<div>Required resources by project</div>
<nvd3 options="ctrl.chartProjectsOptions" data="ctrl.chartProjectsData" config="{deepWatchData: false}" api="ctrl.projectsApi"></nvd3>

<div>Required resources by service</div>
<nvd3 options="ctrl.chartServicesOptions" data="ctrl.chartServicesData" config="{deepWatchData: false}" api="ctrl.servicesApi"></nvd3>

<div>Available resources by project</div>
<nvd3 options="ctrl.chartAvailableServicesOptions" data="ctrl.chartAvailableServicesData" config="{deepWatchData: false}" api="ctrl.availableServicesApi"></nvd3>

<div>Remaining resources</div>
<nvd3 options="ctrl.chartRemainingResourcesOptions" data="ctrl.chartRemainingResourcesData" config="{deepWatchData: false}" api="ctrl.remainingResourcesApi"></nvd3>

<div>Remaining resources by service</div>
<nvd3 options="ctrl.chartRemainingResourcesByServicesOptions" data="ctrl.chartRemainingResourcesByServicesData" config="{deepWatchData: false}" api="ctrl.remainingResourcesByServiceApi"></nvd3>