<div>
    <div class="modal-header">
        <h3 class="modal-title">Delete resource {{resource.name}} permanently</h3>
    </div>
    <div class="modal-body text-center">
        You are going to remove this resource. Any related information will be also removed.<br/>
        <h2>This action can not be undone</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>1
