<div class="row">
  <h3 class="col-md-10 col-md-offset-1">Your project <span>{{project.name}}</span> has been successfully updated.
    Howerver, the desired times period have the following issues.</h3>
</div>
<div class="row">
  <span class="col-md-10 col-md-offset-1 text-danger">Your desired end time was {{ranges.desired.startDate | date:'dd/MM/yyyy'}} to {{ranges.desired.endDate | date:'dd/MM/yyyy'}}
    but has been set to {{ranges.final.startDate | date:'dd/MM/yyyy'}} to {{ranges.final.endDate | date:'dd/MM/yyyy'}} because of the following issues:</span>
  <ul class="col-md-10 col-md-offset-1 list-group" ng-repeat="range in ranges.diffs">
    <li class="list-group-item">Service&nbsp;<u>{{range.service.name}}</u> has slots from {{range.timeRange.startDate |
      date:'dd/MM/yyyy'}} to
      {{range.timeRange.endDate | date:'dd/MM/yyyy'}}
    </li>
  </ul>
</div>
