<!--            update project             -->
<div class="container">
  <div id="footer" class="col-md-12" ng-show="ctrl.creationFormButtonIsVisible()">
    <button class="btn btn-primary" type="button" ng-click="ctrl.createNewResource()">Create Project</button>
  </div>
  <br/>
  <div class="col-md-2">
    <ul class="list-group" ng-show="ctrl.resourcesListIsVisible()">
      <li class="list-group-item" ng-class="{active: ctrl.isActive(resource)}"
          ng-click="ctrl.setCurrentResource(resource)" ng-repeat="resource in ctrl.resources">
        {{resource.name}}
        <span  class="btn-danger pull-right" ng-click="ctrl.showXRay(resource.id);">+</span>
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-group" ng-show="ctrl.resourcesListIsVisible()">
      <li class="list-group-item" ng-class="{active: ctrl.isActive(resource)}"
          ng-click="ctrl.setCurrentResource(resource)" ng-repeat="resource in ctrl.resources">
        {{resource.startDate.getDate() + "/" + (resource.startDate.getMonth() + 1) + "/" +
        resource.startDate.getFullYear()}}
        to {{resource.endDate.getDate() + "/" + (resource.endDate.getMonth() + 1) + "/" +
        resource.endDate.getFullYear()}}
      </li>
    </ul>
  </div>
  <div class="col-md-4 col-lg-offset-1" ng-show="ctrl.updateFormIsVisible()">
    <form novalidate name="updateForm" class="css-form" ng-submit="ctrl.updateResource()">
      <div class="form-group">
        <label for="newProjectName">Project name:</label>
        <input name="pname" class="form-control" type="text" ng-model="ctrl.currentResource.name"
               placeholder="Name" required/>
        <div class="alert alert-danger"
             ng-show="updateForm.pname.$error.required && updateForm.pname.$dirty">
          Please enter the project name!
        </div>
      </div>
      <div class="form-group">

        <label>Start date</label>
        <input date-lower-than="{{ctrl.currentResource.endDate| date:'short'}}"
               class="form-control" name="startDate" type="date"
               ng-model="ctrl.currentResource.startDate" placeholder="StartDate" required/>

        <div class="alert alert-danger"
             ng-show="updateForm.startDate.$error.required && !updateForm.startDate.$pristine">
          Invalid or Empty to date
        </div>
        <div class="alert alert-danger"
             ng-show="updateForm.startDate.$error.dateLowerThan && !(updateForm.endDate.$pristine && updateForm.startDate.$pristine)">
          Start date must be lower than end date
        </div>

        <label>End date</label>
        <input date-greater-than="{{ctrl.currentResource.startDate| date:'short'}}"
               class="form-control" name="endDate" type="date"
               ng-model="ctrl.currentResource.endDate"
               placeholder="EndDate" required/>

        <div class="alert alert-danger"
             ng-show="updateForm.endDate.$error.required && !updateForm.endDate.$pristine">
          Invalid or Empty to date
        </div>
        <div class="alert alert-danger"
             ng-show="updateForm.endDate.$error.dateGreaterThan && !(updateForm.endDate.$pristine && updateForm.startDate.$pristine)">
          End date must be greater than start date
        </div>
      </div>
      <br/>

      <button ng-show="updateForm.$dirty && updateForm.$valid" class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-default" type="reset"
              ng-click="ctrl.restoreResources();ctrl.resetForm(updateForm, 'currentResource');">Cancel
      </button>
      <div class="btn btn-danger" ng-click="ctrl.confirmDeletion()">DELETE</div>
    </form>
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-4 col-lg-offset-1">
    <form novalidate name="createForm" class="css-form" ng-show="ctrl.creationFormIsVisible()"
          ng-submit="ctrl.createResource()">
      <div class="form-group">
        <label for="newProjectName">Project name:</label>
        <input name="pname" class="form-control" id="newProjectName" type="text" ng-model="ctrl.resourceToCreate.name"
               placeholder="Name" required/>
        <div class="alert alert-danger"
             ng-show="createForm.pname.$error.required && createForm.pname.$dirty">
          Please enter the project name!
        </div>
      </div>
      <div class="form-group">

        <label>Start date</label>
        <input date-lower-than="{{ctrl.resourceToCreate.endDate| date:'short'}}"
               class="form-control" name="startDate" type="date"
               ng-model="ctrl.resourceToCreate.startDate" placeholder="StartDate" required/>

        <div class="alert alert-danger"
             ng-show="createForm.startDate.$error.required && !createForm.startDate.$pristine">
          Invalid or Empty to date
        </div>
        <div class="alert alert-danger"
             ng-show="createForm.startDate.$error.dateLowerThan && !createForm.endDate.$pristine">
          Start date must be lower than end date
        </div>

        <label>End date</label>
        <input date-greater-than="{{ctrl.resourceToCreate.startDate| date:'short'}}"
               class="form-control" name="endDate" type="date"
               ng-model="ctrl.resourceToCreate.endDate"
               placeholder="EndDate" required/>

        <div class="alert alert-danger"
             ng-show="createForm.endDate.$error.required && !createForm.endDate.$pristine">
          Invalid or Empty to date
        </div>
        <div class="alert alert-danger"
             ng-show="createForm.endDate.$error.dateGreaterThan && !createForm.endDate.$pristine">
          End date must be greater than start date
        </div>
      </div>
      <br/>
      <button ng-show="createForm.$dirty && createForm.$valid" class="btn btn-primary" type="submit">Save</button>
      <button class="btn btn-danger" type="reset"
              ng-click="ctrl.showCreationForm = false;ctrl.resetForm(createForm, 'resourceToCreate');">Cancel
      </button>
    </form>
  </div>
  <div class="clearfix"></div>
</div>

