<div class="row">
  <h2 class="col-md-offset-1">Project title: {{project.getName()}}</h2>
</div>
<div class="row">
  <nvd3 class="col-md-12" options="chart.options" data="chart.data" config="{deepWatchData: false}"
        api="chart.api"></nvd3>
</div>
<div class="row">
  <ul class="list-group col-md-offset-2 col-md-4">
    <li class="list-group-item" ng-repeat="resource in totalUsedPerService">
      total used per <b>{{resource.service.getName()}}</b>:  {{resource.total}}
    </li>
  </ul>
  <h3>Total all resources: {{totalAllResources}}</h3>
</div>
