<div class="col-md-10 col-md-offset-0">
    <div  class="jumbotron">
        <div class="container text-center">
            <h3>Welcome to the beta version of HEADPRO!</h3>
            <h3>Start with easy capacity planning.</h3>
            <p class="lead"> Create your projects, and services.</p>
        </div>
    </div>
</div>
<div  class="col-md-4 col-md-offset-3">
    <ul class="list-group text-center">
        <li class="list-group-item"><a href="#/workspace/{{workspaceId}}/projects">Manage projects</a></li>
        <li class="list-group-item"><a href="#/workspace/{{workspaceId}}/services">Manage services</a></li>
        <li class="list-group-item"><a href="#/workspace/{{workspaceId}}/availability">Manage available resources</a></li>
        <li class="list-group-item"><a href="#/workspace/{{workspaceId}}/required">Manage required resources</a></li>
        <li class="list-group-item"><a href="http://www.headpro.io/#!blog/ccwla" target="_blank">Blog</a></li>
        <li class="list-group-item"><a href="http://www.headpro.io/#!faq/zxlmj" target="_blank">FAQs</a></li>
    </ul>
</div>
