<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#start">HEADPRO</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-class="{active: isActive('start')}" ng-click="setCurrentTab('start')"><a href="#start">Home</a></li>
      <li ng-class="{active: isActive('required')}" ng-click="setCurrentTab('required')"><a
        href="#/workspace/{{workspaceId}}/required">Required</a></li>
      <li ng-class="{active: isActive('availability')}" ng-click="setCurrentTab('availability')"><a
        href="#/workspace/{{workspaceId}}/availability">Availability</a></li>
      <li ng-class="{active: isActive('optimizer')}" ng-click="setCurrentTab('optimizer')"><a
        href="#/workspace/{{workspaceId}}/optimizer"><i class="fa fa-comment"></i>Optimizer</a></li>

      <li ng-class="{active: isActive('services')}" ng-click="setCurrentTab('services')"><a
        href="#/workspace/{{workspaceId}}/services"><i class="fa fa-comment"></i>Manage Service</a></li>
      <li ng-class="{active: isActive('projects')}" ng-click="setCurrentTab('projects')"><a
        href="#/workspace/{{workspaceId}}/projects"><i class="fa fa-comment"></i>Manage Project</a></li>
      <li ng-class="{active: isActive('required')}" ng-click="setCurrentTab('required')" ng-show="workspaces.length > 1"
          class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Workspace<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li ng-repeat="ws in workspaces">ﬂ
            <a href="#/workspace/{{ws.id}}/projects" ng-click="changeWorkspace(ws)">{{ws.title}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/public/redirect.html" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span>Logout</a>
      </li>
    </ul>
  </div>
</nav>
