<div ng-show="ctrl.appInitialized">
    <div ng-show="ctrl.table.show">
        <div class="row">
            <div class="col-md-2  vertical-center">
                <input date-range-picker class="form-control date-picker" type="text" ng-model="ctrl.datePicker.date"  
                       options="ctrl.datePicker.options" />
            </div>
            <div class="col-md-10">
                <rzslider rz-slider-model="ctrl.slider.minValue"
                          rz-slider-high="ctrl.slider.maxValue"
                          rz-slider-options="ctrl.slider.options"></rzslider>
            </div>
        </div>
        <div class="row">
            <div style="overflow-x: auto;">
                <hot-table 
                    settings="ctrl.table.settings"
                    row-headers="ctrl.table.rowHeaders"
                    col-headers="ctrl.table.colHeaders"
                    datarows="ctrl.table.db.items"
                    columns="ctrl.table.columns"
                    before-change="ctrl.table.beforeChange"
                    cells="ctrl.table.cells"
                    >
                </hot-table>
            </div>
        </div>
        <div style="margin-top: 0px;" class="row">    
            <h3 class="col-md-6">Required resources</h3>
            <h3 class="col-md-6">Remaining resources</h3>
            <nvd3 class="col-md-6" options="ctrl.chart.options" data="ctrl.chart.data" config="{deepWatchData: false}" api="ctrl.chart.api"></nvd3>
            <nvd3 class="col-md-6" options="ctrl.chart.remaining.options" data="ctrl.chart.remaining.data" config="{deepWatchData: false}" api="ctrl.chart.remaining.api"></nvd3>
        </div>
    </div>
    <div ng-show="!ctrl.table.show">
        No services available
    </div>
</div>