<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>
<div class="container">
    <div class="col-md-2">
        <ul class="list-group" ng-show="ctrl.resourcesListIsVisible()">
            <li class="list-group-item" ng-class="{active: ctrl.isActive(resource)}" ng-click="ctrl.setCurrentResource(resource)" ng-repeat="resource in ctrl.resources">
                {{resource.name}}
            </li>   
        </ul>
    </div>
    <div class="col-md-4 col-lg-offset-1">
        <form novalidate name="updateForm" class="css-form" ng-show="ctrl.updateFormIsVisible()" ng-submit="ctrl.updateResource()">
            <div class="form-group">
                <label for="newServiceName" >Service name:</label>
                <input name="name" class="form-control" id="newServiceName" type="text" ng-model="ctrl.currentResource.name" placeholder="Name" required />
                <div class="alert alert-danger"
                     ng-show="updateForm.pname.$error.required && updateForm.pname.$dirty">
                    Please enter the project name!
                </div>
            </div>
            <br/>
            <button ng-show="updateForm.$dirty && updateForm.$valid" class="btn btn-primary" type="submit">Save</button>
            <button  class="btn btn-default" type="reset" ng-click="ctrl.restoreResources();ctrl.resetForm(updateForm, 'currentResource');">Cancel</button>
            <div  class="btn btn-danger" ng-click="ctrl.confirmDeletion()">DELETE</div>
        </form>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 col-lg-offset-1">
        <form novalidate name="createForm" class="css-form" ng-show="ctrl.creationFormIsVisible()" ng-submit="ctrl.createResource()">
            <div class="form-group">
                <label for="newServiceName" >Service name:</label>
                <input name="name" class="form-control" id="newServiceName" type="text" ng-model="ctrl.resourceToCreate.name" placeholder="Name" required />
                <div class="alert alert-danger"
                     ng-show="createForm.pname.$error.required && createForm.pname.$dirty">
                    Please enter the service name!
                </div>
            </div>
            <br/>
            <button ng-show="createForm.$dirty && createForm.$valid" class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-danger" type="reset" ng-click="ctrl.showCreationForm = false;ctrl.resetForm(createForm, 'resourceToCreate');">Cancel</button>
        </form>
    </div>
    <div class="clearfix"></div>
    <div id="footer" class="col-md-2" ng-show="ctrl.creationFormButtonIsVisible()">
        <button class="btn btn-primary" type="button" ng-click="ctrl.createNewResource()">Create Service</button>
    </div>
</div>

